[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;}
.icon-close-black{background-image: url('../images/icon-close-black.png');width: 21px;height: 21px;}
.icon-close-white{background-image: url('../images/x-white.svg');width: 35px;height: 34px;}
.icon-down-white{background-image: url('../images/chevron-down-solid.svg');width: 15px;height: 15px;}
.icon-new{font-size: 12px;width: 15px;height: 16px;padding-right: 1px;background: #fe561c;color: #fff;text-align: center;line-height: 15px;font-weight: 700;vertical-align: middle;}
.icon-refrash{background-image: url('../images/icon-refrash.png');width: 22px;height: 22px;}
.icon-search{background-image: url('../images/icon-search-white.svg');width: 24px;height: 24px;vertical-align: middle;}
.icon-bell{background-image: url('../images/icon-bell.png');width: 17px;height: 16px;vertical-align: middle;}
.icon-file{background-image: url('../images/icon-file.png');width: 18px;height: 20px;vertical-align: middle;}
.icon-play{background-image: url('../images/icon-play.svg');width: 18px;height: 16px;vertical-align: middle;background-position: 50% 50%;}
.icon-pause{background-image: url('../images/icon-pause.svg');width: 18px;height: 16px;vertical-align: middle;background-position: 50% 50%;}
.icon-blog{background-image: url('../images/icon-blog.svg');width: 37px;height: 37px;vertical-align: top;}
.icon-facebook{background-image: url('../images/icon-facebook.svg');width: 37px;height: 37px;vertical-align: top;}
.icon-calendar{background-image: url('../images/icon-calendar.png');width: 21px;height: 21px;vertical-align: top;}
.icon-clock{background-image: url('../images/icon-time.svg');width: 27px;height: 27px;}
@include media-breakpoint-down(md) {
    .icon-refrash{width: 18px;height: 18px;}
    .icon-file{width: 14.5px;height: 15px;}
    .icon-play{width: 18px;height: 12px;}
    .icon-pause{width: 18px;height: 12px;}
}

.vertical-middle{vertical-align: middle;}

.tab{
    margin-bottom: 2rem;
    .nav-tabs{align-items: center;border-color: $primary;}
    .nav-tabs .nav-link{color: #666;font-size: 18px;font-weight: 500;letter-spacing: -0.025em;padding: .75rem 1.25rem;position: relative;}
    .nav-tabs .nav-link.active{color: #333;border-color: $primary;border-bottom: 1px solid #fff;}

}
@include media-breakpoint-down(md) {
    .tab{
        margin-bottom: 35px;
        .nav-tabs{height: 60px;justify-content: space-around;}
        .nav-tabs .nav-item + .nav-item{margin-left: 0;}
        .nav-tabs .nav-link{font-size: 17px;line-height: 60px;}
        .nav-tabs .nav-link::before{height: 5px;}
    }
}

.title{font-size: 26px;font-weight: 500;margin-bottom: 1rem;line-height: 1.3;}
@include media-breakpoint-down(md) {
    .title{font-size: 18px;}
}

.title-lg{font-size: 30px;font-weight: 700;margin-bottom: 1.5rem;}
@include media-breakpoint-down(md) {
    .title{font-size: 18px;}
}

.subtitle{
    font-size: 22px;font-weight: 500;margin-bottom: 1rem;
    &::before{content: '';display: inline-block;vertical-align: middle;width: 4px;height: 15px;background: #ff300f;margin-right: 10px;transform: translateY(-2px);}
}
@include media-breakpoint-down(md) {
    .subtitle{
        font-size: 15px;
        &::before{width: 3px;height: 13px;margin-right: 5px;}
    }
}

.thumb{
    width: 100%;height: 100%;display: block;overflow: hidden;position: relative;
    &::before{content: '';display: block;width: 100%;height: 100%;/* background: rgba(0,0,0,0.1); */position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}
    img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);max-width: none;}
    img.vertical{width: 100%;height: auto;}
    img.horizontal{height: 100%;width: auto;}
}

[data-event=datepicker]{
    background: url('../images/icon-calendar.png') no-repeat right 1rem top 50%;padding-right: 52px;max-width:170px
}
@include media-breakpoint-down(md) {
    [data-event=datepicker]{
        background-size: 13px auto;background-position: right 10px top 50%;padding-right: 30px;
    }
}

body.body-modal{
    .modal-content{border-width: 1px;}
}