.table{
    font-size: 15px;
    thead{
        th{background: #f7f7f7;}
    }
    tbody{
        th{
            background: #f7f7f7;
        }
    }
    tr.noti > {
        td:nth-of-type(1){font-weight: 700;color: $danger;}
        td:nth-of-type(2) a{font-weight: 700;color: #333;}
    }
    .bg-sky{background: #eff4f9;}
    .bg-light-gray{background: #fbfbfc;}
}
.data-empty{
    font-size: 18px;color: #666;text-align: center;padding: 170px 10px;
}
@include media-breakpoint-down(md) {
    .table{
        font-size: 13px;
        tr.noti > {
            td:nth-of-type(1){display: block !important;}
        }
        th,
        td{
            padding-left: .5rem;padding-right: .5rem;
        }
    }
    .data-empty{
        font-size: 15px;padding: 95px 10px;
    }
}

.profile-photo{
    width: 160px;height: 160px;border: 1px solid #ddd;margin: 0 auto 10px;display: flex;align-items: center;justify-content: center;background: url('../images/profile.jpg') no-repeat 50% 50%;
    img{max-width: 100%;max-height: 100%;}
}
@include media-breakpoint-down(md) {
    .profile-photo{
        width: 100px;height: 90px;background-size: contain;
    }
}

.btn-lg{
    font-size: 16px;height: 50px;padding: 12px 30px;font-weight: 500;
    &.min-width{min-width: 140px;}
}

.btn-xl{
    font-size: 20px;height: 60px;padding: 14px 60px;font-weight: 500;
}

.board-detail{
    border-top: 2px solid $dark;border-bottom: 1px solid $dark;margin-bottom: 50px;
    .board-header{
        border-bottom: 1px solid #ccc;padding: 35px 20px;
        .subject{font-size: 22px;font-weight: 700;letter-spacing: -0.025em;color: #333;}
        .date{
            color: #999;display: flex;align-items: center;margin-top: 10px;
            span{position: relative;}
            span + span::before{content: '';display: inline-block;vertical-align: middle;width: 2px;height: 15px;background: #cfcfcf;margin: 0 10px;transform: translateY(-1px);}
        }
    }
    .board-body{
        padding: 40px 20px;min-height: 300px;
    }
    .board-file{
        background: #f9f9f9;padding: 37px 50px;display: flex;
        p{font-weight: 700;color: #333;display: inline-block;vertical-align: middle;margin-right: 42px;flex: 0 0 auto;}
        a{vertical-align: middle;margin-right: 20px;flex-basis: 0;flex-grow: 1;}
    }
}
@include media-breakpoint-down(md) {
    .board-detail{
        margin-bottom: 30px;
        .board-header{
            padding: 25px 0;
            .subject{font-size: 16px;margin-bottom: 5px;}
            .date{
                span + span::before{width: 1px;}
            }
        }
        .board-body{
            padding: 25px 0;min-height: 150px;
        }
        .board-file{
            padding: 25px 20px;
            p{margin-right: 25px;}
            a{margin-right: 15px;}
        }
    }
}

.terms{border-top: 3px solid $dark;padding: 50px;line-height: 1.6;}
@include media-breakpoint-down(md) {
    .terms{padding: 25px 0;}
}


.search-form{
    .btn-search{
        background: $dark;border-radius: 50%;width: 50px;height: 50px;position: relative;display: block;
        i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 32px;height: 32px;}
    }
}
@include media-breakpoint-down(md) {
    .search-form .col-12{margin-bottom: 10px;}
    .search-form .btn-search{width: 40px;height: 40px;}
    .search-form .btn-search i{width: 24px;height: 24px;}
}

.table-top{
    margin-bottom: 20px;
    .count{color: $gray;
        span{color: $dark;}
    }
}
@include media-breakpoint-down(md) {
    .table-top{
        margin-bottom: 10px;
        .count{margin-bottom: 5px}
    }
}

.login{
    position: relative;
    .form-group{
        align-items: center;
        label{margin-top: 0;flex: 0 0 140px;}
    }
}
@include media-breakpoint-down(md) {
    .login{
        padding-left: 0;
        &::before{display: none;}
    }
}


.lecturer-list{
    margin: -15px;
    li{padding-top: 15px;padding-bottom: 15px;}
    .card{
        display: block;text-decoration: none;border-radius: 0;transition: all .3s ease-in-out;height: 100%;
        &:focus,
        &:hover{box-shadow: 0 14px 20px rgba(0,0,0,0.1);}
    }
    .card-title{
        font-size: 26px;font-weight: 500;
        i{font-weight: 400;color: #8d8d8d;font-size: 14px;}
    }
    .card-text{word-break: keep-all;}
}
@include media-breakpoint-down(md) {
    .lecturer-list{
        margin: -5px;
        li{padding: 5px;}
        .card-body{padding: 1rem;}
        .card-title{
            font-size: 18px;
        }
    }
}

.video{
    width: 100%;padding-bottom: 56.26%;height: 0;position: relative;
    video,
    iframe{
        position: absolute;left: 0;top: 0;width: 100%;height: 100%;
    }
}

.lecturer-history{
    background: #f7f7f7;padding: 20px;
    li{margin: 5px 0;}
}
@include media-breakpoint-down(md) {
    .lecturer-history{
        padding: 1rem;
    }
}

.lecture-list{
    .card{height: 100%;}
    .card:hover{transition: all .3s ease-in-out;box-shadow: 0 14px 20px rgba(0,0,0,0.1);text-decoration: none;}
    .card-title{
        letter-spacing: -0.05em;
        span{font-weight: 500;}
        strong{font-size: 23px;font-weight: 500;}
    }
    .card-text{
        font-size: 14px;
    }
}
@include media-breakpoint-down(md) {
    .lecture-list{
        margin: -5px;
        li{padding: 5px;}
        .card-body{padding: 1rem;}
        .card-title{
            strong{font-size: 18px;}
        }
        .card-text{
            font-size: 13px; word-break: keep-all;
            br{display: none;}
        }
    }
}

.class-type-title{color: #111;font-size: 26px;font-weight: 500;text-align: center;margin-bottom: 40px;}
.class-type{
    margin-bottom: 50px;border-radius: 10px;overflow: hidden;border: 1px solid #d4d4d4;
    .btn{padding: 6px;min-width:116px;margin: 5px 10px;height: 38px;border-radius: 5px;}
    .btn-primary{background: #097ee5;border-color: #097ee5;}
    .btn-danger{background: #c10808;border-color: #c10808;}
    .btn.disabled{background: #d9d9d9;border-color: #c8c8c8;color: #b5b5b5;}

    table{
        background: #f3f3f3;margin: 0;border: 0;
        thead{
            th{color: #fff;font-size: 20px;font-weight: 500;padding: 1.5rem 0;border: 0;border-left: 1px solid rgba(238, 241, 255, 0.29);}
        }
        tbody{
            th{font-size: 30px;font-weight: 700;background-color: rgba(203, 203, 203, 0.8);}
            td{font-size: 20px;font-weight: 500;padding: 1.5rem;border: 0;border-top: 1px solid #ddd;border-left: 1px solid #ddd;}
        }
        &.class-type-1{
            thead th{background: #002d87;}
        }
        &.class-type-2{
            thead th{background: #bb7000;}
        }
    }
}
@include media-breakpoint-down(xl) {
    .class-type{
        .btn{min-width:115px;margin: 4px;}
    }
}
@include media-breakpoint-down(md) {
    .class-type-title{font-size: 16px;}
    .class-type{
        table,
        tbody,
        tr,
        th,
        td{display: block;}
        thead{display: none;}
        table{
            tbody{
                th{font-size: 18px;}
                td{font-size: 14px;padding: .5rem;}
            }
            &.class-type-1{
                tbody th{background: #002d87;color: #fff;}
            }
            &.class-type-2{
                tbody th{background: #bb7000;color: #fff;}
            }
        }
        .btn{min-width:52px;margin: 2px;font-size: 13px;line-height: 32px;height: auto;padding: 0 5px;}
    }
}

.class-select{
    background: #f7f7f7;border: 1px solid $primary;
}
.class-select-top{
    background: $primary;padding: 12px 30px;
    h3{color: #fff;font-size: 24px;}
}
.class-select-body{
    padding: 2rem;
    .row{padding: .5rem 0;}
    .row + .row{border-top: 1px solid #e8e8e8;}
    .label{font-size: 18px;padding: 0 9px;min-width: 120px;margin: 5px 0;text-align: center;font-weight: 700;line-height: 40px;}
    .btn-wrapper{
        display: flex;flex-wrap: wrap;
        .btn{padding: 8px;min-width:120px;margin: 5px 10px;height: 40px;}
        .btn.disabled{opacity: .4;color: #ddd;}
    }
}
@include media-breakpoint-down(xl) {
    .class-select-body{
        padding: 30px;
        .label{min-width: 140px;margin: 4px 0;}
        .btn-wrapper{
            .btn{min-width:115px;margin: 4px;}
        }
    }
}
@include media-breakpoint-down(md) {
    .class-select-top{
        padding: .75rem 1rem;
        h3{font-size: 16px;}
    }
    .class-select-body{
        padding: 1rem;
        > .row{
            margin: 0 -5px;
            > [class^=col]{padding: 0 5px;}
        }
        .label{min-width: 70px;margin: 2px 0;font-size: 13px;line-height: 38px;height: auto;}
        .btn-wrapper{
            .btn{min-width:52px;margin: 2px;font-size: 13px;line-height: 38px;height: auto;padding: 0 5px;}
        }
    }
}

.lecturer-thumbnail{
    display: flex;margin: 0 -10px;
    li{padding: 0 10px;}
    .frame{
        border: 1px solid #ddd;height: 100%;position: relative;
        img{vertical-align: bottom;}
        .name{display: block;position: absolute;left: 0;bottom: 0;width: 100%;background: rgba(0,0,0,0.7);color: #fff;font-weight: 500;text-align: center;padding: .75rem 1rem;}
    }
}

.classroom-list{
    li + li{margin-top: 10px;}
    .class-title{
        border: 1px solid #dedede;height: 100%;background: #fff;padding: 0 1rem;display: flex;align-items: center;min-height: 50px;
        span{}
    }
}
@include media-breakpoint-down(md) {
    .classroom-list{
        li + li{margin-top: 5px;}
        > .row-10{margin-left: -2.5px;margin-right: -2.5px;}
        > .row-10 > [class^=col]{padding-left: 2.5px;padding-right: 2.5px;}
        .class-title{
            padding: 5px 10px;min-height: 36px;
        }
        .btn-lg{height: 36px;min-width:60px;font-size: 13px;padding: 8px .5rem;}
    }
}

body.body-platform{
    color: #fff;padding: 0;
    background: rgb(25,25,25);
    background: -moz-linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(70,70,70,1) 34%, rgba(35,35,35,1) 85%, rgba(58,58,58,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(70,70,70,1) 34%, rgba(35,35,35,1) 85%, rgba(58,58,58,1) 100%);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(70,70,70,1) 34%, rgba(35,35,35,1) 85%, rgba(58,58,58,1) 100%);
    &::-webkit-scrollbar {
        width: .5rem;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.platform{
    border: 5px solid #000;
    background: rgb(25,25,25);
    background: -moz-linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(70,70,70,1) 34%, rgba(35,35,35,1) 85%, rgba(58,58,58,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(70,70,70,1) 34%, rgba(35,35,35,1) 85%, rgba(58,58,58,1) 100%);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(70,70,70,1) 34%, rgba(35,35,35,1) 85%, rgba(58,58,58,1) 100%);
    .inner{border: solid 1px #5a5a5a;border-radius: 5px;padding: 15px 15px 0;overflow: hidden;}
    .nav-tabs{
        margin-bottom: 12px;height: 40px;border-bottom: 0;
        .nav-item{margin-right: 1rem;}
        .nav-link{
            color: #fff;font-weight: 700;padding: 0;border-radius: 50px;overflow: hidden;border: 1px solid #000;font-size: 18px;
            background-image: linear-gradient(to bottom, #121212, #434343);
            span{display: block;border: 1px solid #505050;padding: .35rem 2rem;border-radius: 50px;}
        }
        .nav-link.active{
            background-image: linear-gradient(to bottom, #ff300f, #a81700);
        }
    }
    .tab-content{border: 1px solid #000;border-radius: 2px;background-image: linear-gradient(to bottom, #202020, #505050);}
    .tab-pane{border: 1px solid #434343;border-radius: 2px;padding: 14px;}
}
.platform-top{
    border-radius: 2px;border: solid 1px #000000;background-image: linear-gradient(to bottom, #3d3d3d, #111111);
    .title-area{border: 1px solid #515151;border-radius: 1px;padding: 15px 20px;position: relative;}
    h1{font-size: 22px;font-weight: 700;}
}
.platform-body{
    position: relative;
    .left-panel{
        padding: 15px 0;position: relative;
    }
    .right-panel{
        padding: 15px 0;width: 300px;
        .btns{
            margin-bottom: 12px;background-image: linear-gradient(to bottom, #121212, #292929);border: 1px solid #000;border-radius: 2px;
            .btn{background-color: transparent;border-color: transparent;font-size: 17px;font-weight: 500;}
            .col:nth-child(1){border-right: 1px solid #000;}
            .col:nth-child(2){border-left: 1px solid #373737;}
        }
        .btns .btn-lg{height: 40px;padding: 5px 10px;}
    }
    > .row > .col-lg-8{
        position: relative;
        &::after{
            content: '';width: 11px;height: 100%;position: absolute;right: -5.5px;top: 0;border: 1px solid #000;border-top: 0;border-bottom: 0;
            background: rgb(18,18,18);
            background: -moz-linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(90,90,90,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(90,90,90,1) 100%);
            background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(90,90,90,1) 100%);
        }
    }
}
@include media-breakpoint-down(xl) {
    .platform-body{
        .right-panel{
            width: 230px;
        }
    }
}
@include media-breakpoint-down(md) {
    .platform{
        .nav-tabs{
            .nav-link{}
        }
    }
    .platform-top{
        .title-area{padding: 15px;}
        h1{font-size: 16px;line-height: 1.4;
            img{height: 30px;transform: translateX(-4px);}
        }
    }
    .platform-body{
        .right-panel{
            width: auto;
        }
    }
}

.chatting{
    height: calc(100vh - 205px);background: #262626;border: 1px solid #000;padding-bottom: 70px;position: relative;border-radius: 2px;
    .chatting-list{height: 100%;overflow-x: hidden;padding: 1rem;border: 1px solid #434343;border-radius: 2px 2px 0 0;
        &::-webkit-scrollbar {
            width: .5rem;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }
    .item{
        font-size: 13px;font-weight: 500;
        .author{color: #aaa;font-weight: 700;margin-right: 7px;
            &::after{content: ':';}
        }
        & + .item{margin-top: 10px;}
        &.admin{
            .message{color: #e8aa01;}
        }
    }
    .input-panel{
        position: absolute;left: 0;bottom: 0;right: 0;height: 70px;padding: 1rem;background-image: linear-gradient(to bottom, #121212, #343434);border: 1px solid #434343;border-top: 0;
        .input-area{position: relative;}
        .form-control{background: transparent;border: 0;color: #fff;padding: 0;font-size: 14px;padding: 10px 0;height: auto;}
        .form-control::placeholder { color: #bbb; opacity: 1; }
        .form-control:focus{border-color: #fff;}
        .btn{border-radius: 50rem;padding-left: 1rem;padding-right: 1rem;font-size: 13px;font-weight: 700;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
    }
}

.students-list{
    border: 1px solid #000;border-radius: 1px;
    ul{display: flex;flex-wrap: wrap;border: 1px solid #686868;border-radius: 1px;padding: 20px;background: #444;}
    li{
        width: 33.33333%;padding: 3px;
        .item{display: flex;}
        span{
            font-size: 13px;
            i{display: inline-block;vertical-align: middle;width: 14px;height: 14px;border-radius: 50%;background-color: #888;font-size: 0;line-height: 1;transform: translateY(-1px);}
            i.attend{background: #93d62d;}
            i.absent{background: #ef2936;}
            i.late{background: #ffff23;}
            &.text-danger{color: #fa6363 !important;}
        }
        span + span{
            &::before{content: '';display: inline-block;width: 1px;height: 8px;background-color: #aaa;margin: 0 8px;}
        }
        span:nth-child(2){
           margin-left: 8px;
           &::before{display: none;}
        }
    }
}
@include media-breakpoint-down(xl) {
    .students-list{
        ul{padding: 10px;}
    }
}
@include media-breakpoint-down(md) {
    .students-list{

        ul{padding: 8px;height: 35vh;overflow-x: hidden;}
        li{
            width: 50%;margin-top: 3px;padding: 0 3px;
            span{
                font-size: 11px;letter-spacing: -0.06em;
                i{width: 8px;height: 8px;}
            }
            span + span::before{margin: 0 3px;background: none;}
        }
    }
}

.time{
    display: flex;align-items: center;position: absolute;right: 0;top: 21px;z-index: 1;font-size: 18px;
    i{vertical-align: middle;margin-right: 10px;transform: translateY(-2px);}
    b{font-weight: 700;}
    span{margin-right: 24px;margin-left: 3px;}
    strong{font-size: 21px;color: #fc2f0e;margin-left: 3px;}
}
@include media-breakpoint-down(md) {
    .time{
        position: static;justify-content: flex-end;font-size: 13px;
        strong{letter-spacing: 0;font-size: 15px;}
        & + .nav-tabs{margin-top: .75rem;}
    }
}

body.body-quiz{
    padding-top: 0;overflow: hidden;
}
.quiz{
    position: relative;height: 100%;display: flex;
    h1{background: #f85858;color: #fff;font-size: 19px;font-weight: 500;padding: 5px 2rem;display: inline-block;position: absolute;left: 0;top: 0;width: 100%;}
}
.quiz-img{
    height:100%;overflow-x: hidden;text-align: center;position: relative;padding-top: 40px;flex: 1;
    img{max-width:100%}
}
.quiz-timer{
    font-weight: 700;color: #000;font-size: 22px;position: fixed;right: 1rem;top: 1.25rem;
    i{font-size: 21px;color: #333;}
}
.quiz-omr{
    width: 370px;height: 100vh;padding: 3.5rem 1rem 5.5rem;background: #fcfded;border-left: 1px solid #e4e0b1;position: relative;
    .btn-lg.min-width{width: 160px;}
}
.omr-card{
    font-size: 14px;height: calc(100vh - 9rem);
    ol{
        display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;border: 2px solid #e97e9c;border-radius: 8px;overflow-x: hidden;width: 100%;max-height: 100%;
    }
    li{
        width: 50%;display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;border-top: 1px dashed #fdb5ca;margin-top: -1px;
        > span{
            font-weight: 700;text-align: center;-ms-flex: 0 0 32px;flex: 0 0 32px;background: #f8f0d9;padding: .5rem 0;color: #e06387;border-left: 1px solid #e97e9c;border-right: 1px solid #e97e9c;height: 100%;
        }
        > div{
            padding: 0 .75rem;display: -ms-flexbox;display: flex; -ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: center;align-items: center;-ms-flex:1;flex: 1;
        }
        label{
            cursor: pointer;margin: 0;
            span{display: inline-block;vertical-align: middle;width: 17px;height: 17px;line-height: 15px;text-align: center;border-radius: 50%;border: 1px solid #e97e9c;color: #e6688c;font-size: 12px;}
            input{position: absolute;opacity: 0;visibility: hidden;height: 0;width: 0;}
            input:checked + span{border-color: $dark;background-color: $dark;color: #fff;font-weight: 500;}
        }
        &.striped{
            background: #fcf1de;
        }
        &:nth-child(2n-1){
            > span{border-left: 0;}
        }
    }
}
@include media-breakpoint-down(lg) {
    .quiz{display: block;}
    .quiz-img{
        height: 60vh;overflow-x: hidden;text-align: center;
        img{max-width:100%}
    }
    .quiz-omr{
        width: 100%;height: calc(40vh);padding-top: 1rem;padding-bottom: 1rem;
        .btn{font-size: 14px;height: auto;padding: 8px .75rem;}
    }
    .omr-card{height: calc(40vh - 6rem);}
}
@include media-breakpoint-down(md) {
    body.body-quiz{
        border: 3px solid $primary;
        height: 100%;
    }
    .quiz{
        height: 100%;
        h1{font-size: 13px;padding: 4px 2rem;}
    }
    .omr-card{
        font-size: 12px;
        ol{padding: 10px 3px;}
        li{
            label{
                margin: 0 3px;
                span{width: 15px;height: 15px;line-height: 13px;font-size: 11px;}
            }
        }
    }
}

.view-type{
    display: flex;align-items: center;
    > a{margin-right: 5px;width: 30px;height: 30px;display: block;border: 1px solid #ddd;color: #aaa;display: flex;align-items: center;justify-content: center;text-decoration: none;transition: all .15s;}
    > a:hover,
    > a.active{color: #555;background: #f3f3f3;}
}

.view-type-card{
    table,
    thead,
    tbody,
    tr,th,td{display: block;}
    colgroup{display: none;}
    thead{display: none;}
    .thumb{display: block !important;width: 200px;height:200px;position: absolute;left: 0;top: 0;}
    .table{
        tbody{
            tr{position: relative;min-height: 200px;padding: 1rem 1rem 1rem calc(200px + 1rem);border-bottom: 1px solid #e2e2e2;}
            th,
            td{border-bottom: 0;text-align: left !important;padding: 0;}

            td{padding: 2px 0;}
            td::before{content: attr(data-label) ' : ';display: inline-block;margin-right: 5px;}

            td[data-label="번호"]{display: none;}
            td[data-label="제목"]{
                font-size: 18px;font-weight: 700;margin-bottom: 1rem;
                &::before{display: none;}
                i{display: none;}
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .view-type-card{
        .thumb{width: 100px;height:100px;}
        .table{
            tbody{
                tr{min-height: 100px;padding: .5rem .75rem .5rem calc(100px + .75rem);}
                td{padding: 0;}
                td[data-label="제목"]{font-size: 13px;margin-bottom: 0.25rem;}
            }
        }
    }
}

.view-type-album{
    overflow: visible;
    table,
    thead,
    tbody,
    tr,th,td{display: block;}
    colgroup{display: none;}
    thead{display: none;}

    .thumb{
        display: block !important;width: 100%;height: 0;padding-bottom: 100%;margin-bottom: .5rem;
        &:hover{
            .dim{display: block !important;width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.5);color: #fff;line-height: 1.7;padding: 2rem;font-weight: 500;}
        }
    }

    .table{
        border-top: 0;
        tbody{
            display: flex;flex-wrap: wrap;margin: -10px;
            tr{padding: 10px;width: 33.3333%;}
            tr:hover{background-color: transparent;}
            th,
            td{border-bottom: 0;}
            td[data-label="번호"]{display: none;}
            td[data-label="제목"]{
                padding: 0;
                > div{
                    font-size: 16px;font-weight: 500;text-align: center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
                }
                &::before{display: none;}
                i{display: none;}
            }
            td[data-label="작성자"],
            td[data-label="등록일"],
            td[data-label="조회수"]{display: none;}
        }
    }
}
@include media-breakpoint-down(md) {
    .view-type-album{
        .table {
            tbody{
                margin: -5px;
                tr{padding: 5px;}
                td[data-label="제목"] > div{font-size: 13px;}
            }
        }
    }
}

.board-detail{
    border-top: 2px solid $dark;border-bottom: 1px solid $dark;margin-bottom: 1rem;
    .board-header{
        border-bottom: 1px solid #ccc;padding: 2rem 1rem;
        .subject{font-size: 22px;font-weight: 700;letter-spacing: -0.025em;color: #333;}
        .date{
            color: #999;display: flex;align-items: center;margin-top: 10px;
            span{position: relative;}
            span + span::before{content: '';display: inline-block;vertical-align: middle;width: 2px;height: 15px;background: #cfcfcf;margin: 0 10px;transform: translateY(-1px);}
        }
    }
    .board-body{
        padding: 40px 20px;min-height: 300px;
    }
    .board-file{
        background: #f9f9f9;padding: 37px 50px;display: flex;
        p{font-weight: 700;color: #333;display: inline-block;vertical-align: middle;margin-right: 42px;flex: 0 0 auto;}
        a{vertical-align: middle;margin-right: 20px;flex-basis: 0;flex-grow: 1;}
    }
}

.prev-next{
    display: flex;align-items: center;
    a + a{
        &::before{content: '';width: 1px;height: 12px;background: #aaa;display: inline-block;vertical-align: middle;margin: 0 12px;}
    }
}

@include media-breakpoint-down(md) {
    .board-detail{
        .board-header{
            padding: 1rem 0;
            .subject{font-size: 16px;margin-bottom: 5px;}
            .date{
                span + span::before{width: 1px;}
            }
        }
        .board-body{
            padding: 25px 0;min-height: 150px;
        }
        .board-file{
            padding: 25px 20px;
            p{margin-right: 25px;}
            a{margin-right: 15px;}
        }
    }
}

.reply {
    background: #fafafa;padding: 2rem;margin-top: 3rem;
}
.reply-form {
    .form-control{resize: none;}
}
.reply-list {
    border-top: 1px solid #333;margin-top: 1rem;
    > ul > li {
        position: relative;padding: 1.25rem 1rem;border-bottom: 1px solid #e5e5e5;
        &.re-reply {
            padding-left: 40px;
            position: relative;
            margin-left: 20px;
        }
    }
    .reply-item {
        .user-info {
            > span {vertical-align: middle;}
            .nickname {font-weight: 500;margin-right: 20px;}
            .date {color: #999;}
        }
        .reply-cont {font-size: 15px;word-break: break-all;margin-top: .75rem;}
    }

    .reply-list{
        border-top: 0;margin: 1rem -1rem -1rem;
        > ul > li{
            padding-left: 3rem;border: 0;border-top: 1px solid #e5e5e5;position: relative;
            &::before{
                content: '\f064';font-size: 18px;font-family: "Font Awesome 5 Free";font-weight: 900;position: absolute;top: 1rem;left: 1rem;color: #888;transform: scale(1, -1);
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .reply {
        padding: 1rem;margin-top: 1.5rem;
    }
    .reply-list {
        border-top: 1px solid #333;margin-top: 1rem;

    }
}

.popover-icon{
    display: inline-block;position: relative;
    i{cursor: pointer;}
    .pop-download{
        background: #fff;border: 1px solid #ddd;padding: .75rem;max-width:320px;box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        position: absolute;left: -30px;z-index: 1;display: none;margin-top: 22px;
        > div{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin: 1px 0;}
    }
    &.active{
        .pop-download{display: inline-block;}
    }
}

@include media-breakpoint-down(md) {
    .popover-icon{
        .pop-download{
            max-width: none;left: 2rem;right: 2rem;position: fixed;
        }

    }
}

.util{
    position: absolute;right: 25px;top: 50%;transform: translateY(-50%);
    .btn{color: #fff;margin-left: 5px;text-shadow : 0 2px 2px rgba( 255 , 255 , 255 , 0.2 );}
    .btn.active{
        background: $danger !important;border-color: $danger !important;
    }
}
@include media-breakpoint-down(md) {
    .util{position: static;text-align: right;transform: none;margin-top: 3px;}
}

.accordion-list{
    margin-top: 26px;
    li{margin-bottom: 10px;}
    .q{
        a{
            background: #002d87;display: block;color: #fff;font-size: 20px;font-weight: 500;height: 80px;display: flex;align-items: center;padding: 0 30px;border-radius: 10px;transition: all .2s;position: relative;
            &::after{content: '';display: block;background: url('../images/icon-arrow-white.svg') no-repeat 0 0;width: 22px;height: 22px;position: absolute;right:30px;top: 29px;}
            &:hover{background: #081f4d;text-decoration: none;}
        }
    }
    .a{
        background: #fafafa;margin-top: 10px;border-radius: 10px;padding: 30px;display: none;
        img{vertical-align: top;}
        p{font-size: 16px;color: #111;}
        strong{font-weight: 500;font-size: 24px;}
        > *{margin-bottom: 20px;}
    }
    .active{
        .q{
            a::after{transform: rotate(180deg);}
        }
        .a{display: block;}
    }
}
@include media-breakpoint-down(md) {
    .accordion-list{
        .q{
            a{
                font-size: 14px;height: 50px;padding: 0 1rem;
                &::after{content: '';display: block;background: url('../images/icon-arrow-white.svg') no-repeat 0 0;width: 12px;height: 12px;background-size: contain;top: 19px;right: 1rem;}
            }
        }
        .a{
            padding: 1rem;
            p{font-size: 14px;}
            strong{font-size: 20px;}
        }
    }
}