@charset "UTF-8";
/* 컨텐츠 css */
[class^=icon-] { display: inline-block; background-size: contain; background-repeat: no-repeat; background-position: 0 0; font-style: normal; }

.icon-close-black { background-image: url("../images/icon-close-black.png"); width: 21px; height: 21px; }

.icon-close-white { background-image: url("../images/x-white.svg"); width: 35px; height: 34px; }

.icon-down-white { background-image: url("../images/chevron-down-solid.svg"); width: 15px; height: 15px; }

.icon-new { font-size: 12px; width: 15px; height: 16px; padding-right: 1px; background: #fe561c; color: #fff; text-align: center; line-height: 15px; font-weight: 700; vertical-align: middle; }

.icon-refrash { background-image: url("../images/icon-refrash.png"); width: 22px; height: 22px; }

.icon-search { background-image: url("../images/icon-search-white.svg"); width: 24px; height: 24px; vertical-align: middle; }

.icon-bell { background-image: url("../images/icon-bell.png"); width: 17px; height: 16px; vertical-align: middle; }

.icon-file { background-image: url("../images/icon-file.png"); width: 18px; height: 20px; vertical-align: middle; }

.icon-play { background-image: url("../images/icon-play.svg"); width: 18px; height: 16px; vertical-align: middle; background-position: 50% 50%; }

.icon-pause { background-image: url("../images/icon-pause.svg"); width: 18px; height: 16px; vertical-align: middle; background-position: 50% 50%; }

.icon-blog { background-image: url("../images/icon-blog.svg"); width: 37px; height: 37px; vertical-align: top; }

.icon-facebook { background-image: url("../images/icon-facebook.svg"); width: 37px; height: 37px; vertical-align: top; }

.icon-calendar { background-image: url("../images/icon-calendar.png"); width: 21px; height: 21px; vertical-align: top; }

.icon-clock { background-image: url("../images/icon-time.svg"); width: 27px; height: 27px; }

@media (max-width: 991.98px) { .icon-refrash { width: 18px; height: 18px; }
  .icon-file { width: 14.5px; height: 15px; }
  .icon-play { width: 18px; height: 12px; }
  .icon-pause { width: 18px; height: 12px; } }

.vertical-middle { vertical-align: middle; }

.tab { margin-bottom: 2rem; }

.tab .nav-tabs { align-items: center; border-color: #004acd; }

.tab .nav-tabs .nav-link { color: #666; font-size: 18px; font-weight: 500; letter-spacing: -0.025em; padding: .75rem 1.25rem; position: relative; }

.tab .nav-tabs .nav-link.active { color: #333; border-color: #004acd; border-bottom: 1px solid #fff; }

@media (max-width: 991.98px) { .tab { margin-bottom: 35px; }
  .tab .nav-tabs { height: 60px; justify-content: space-around; }
  .tab .nav-tabs .nav-item + .nav-item { margin-left: 0; }
  .tab .nav-tabs .nav-link { font-size: 17px; line-height: 60px; }
  .tab .nav-tabs .nav-link::before { height: 5px; } }

.title { font-size: 26px; font-weight: 500; margin-bottom: 1rem; line-height: 1.3; }

@media (max-width: 991.98px) { .title { font-size: 18px; } }

.title-lg { font-size: 30px; font-weight: 700; margin-bottom: 1.5rem; }

@media (max-width: 991.98px) { .title-lg { font-size: 20px; } }

.subtitle { font-size: 22px; font-weight: 500; margin-bottom: 1rem; }

.subtitle::before { content: ''; display: inline-block; vertical-align: middle; width: 4px; height: 15px; background: #ff300f; margin-right: 10px; transform: translateY(-2px); }

@media (max-width: 991.98px) { .subtitle { font-size: 15px; }
  .subtitle::before { width: 3px; height: 13px; margin-right: 5px; } }

.thumb { width: 100%; height: 100%; display: block; overflow: hidden; position: relative; }

.thumb::before { content: ''; display: block; width: 100%; height: 100%; /* background: rgba(0,0,0,0.1); */ position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1; }

.thumb img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); max-width: none; }

.thumb img.vertical { width: 100%; height: auto; }

.thumb img.horizontal { height: 100%; width: auto; }

[data-event=datepicker] { background: url("../images/icon-calendar.png") no-repeat right 1rem top 50%; padding-right: 52px; max-width: 170px; }

@media (max-width: 991.98px) { [data-event=datepicker] { background-size: 13px auto; background-position: right 10px top 50%; padding-right: 30px; } }

body.body-modal .modal-content { border-width: 1px; }

html, body { width: 100%; height: 100%; -webkit-font-smoothing: antialiased; }

@media (max-width: 991.98px) { body, .form-control, .btn { font-size: 13px; } }

#skip_navi { position: fixed; left: 0; top: -999px; display: block; padding: 10px 20px; font-size: 16px; color: #000; background: #ff8787; }

#skip_navi:focus { top: 0; z-index: 999; }

#wrap { position: relative; min-height: 100%; }

body { padding-top: 160px; }

#header { min-height: 160px; position: fixed; left: 0; top: 0; width: 100%; z-index: 10; background: #fff url("../images/bg-top.png") repeat-x 50% 0; transition: transform .3s ease-in-out; }

#header .header-top { position: relative; padding: 30px 0 20px; height: 89px; }

#header .logo { text-align: center; font-size: 1em; }

#header .logo a { display: inline-block; vertical-align: top; background-image: url("../images/logo.jpg"); background-repeat: no-repeat; background-position: 50% 50%; width: 229px; height: 32px; background-size: contain; }

html.hide-header #header { transform: translateY(-89px); }

@media (max-width: 991.98px) { body { padding-top: 60px; }
  #header { min-height: 60px; background-position: 50% -2px; border-bottom: 1px solid #e5e5e5; }
  #header .header-top { height: 60px; padding: 20px 0; }
  #header .logo { text-align: left; }
  #header .logo a { width: 124px; height: 25px; }
  html.is-scrolled #header { overflow: visible; } }

.h-menu { position: absolute; right: 0; top: 25px; }

.h-menu ul { display: flex; }

.h-menu ul li + li { margin-left: 10px; }

.h-menu ul li + li::before { content: ''; display: inline-block; width: 1px; height: 10px; background-color: #bbb; margin-right: 10px; }

.h-menu ul a { color: #999; font-size: 14px; }

@media (max-width: 991.98px) { .h-menu { position: static; padding: 20px; } }

#gnb { position: relative; border-bottom: 1px solid #e5e5e5; }

#gnb a:hover { text-decoration: none; }

#gnb .gnb-dim { position: absolute; left: 0; right: 0; top: 71px; background: #fff; z-index: 1; height: 0; overflow: hidden; transition: height .3s; box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.05); }

#gnb .container { position: relative; }

#gnb .gnb-dep1 { display: flex; position: relative; justify-content: center; }

#gnb .gnb-dep1 > li { position: relative; width: 165px; }

#gnb .gnb-dep1 > li > a { display: block; font-weight: 500; font-size: 20px; position: relative; text-align: center; line-height: 70px; padding: 0 20px; color: #666; letter-spacing: -0.04em; }

#gnb .gnb-dep1 > li > a::before { content: ''; display: block; width: 0; height: 2px; background: #004acd; position: absolute; bottom: -2px; left: 0; z-index: 2; transition: all .15s ease-in-out; }

#gnb .gnb-dep1 > li:hover > a::before { width: 100%; }

#gnb .gnb-dep1 > li > a:hover::before { width: 100%; }

#gnb .gnb-dep1 > li.active > a, #gnb .gnb-dep1 > li.hover > a { color: #004acd; }

#gnb .gnb-dep1 > li.hover .gnb-dep2 { background: #fafafa; }

#gnb .gnb-dep1 > li:first-child .gnb-dep2 { border-left: 1px solid #e5e5e5; }

#gnb .gnb-dep2 { position: absolute; left: 0; top: 71px; z-index: 1; width: 100%; text-align: center; border-right: 1px solid #e5e5e5; height: 0; overflow: hidden; opacity: 0; transition: height .3s; }

#gnb .gnb-dep2 ul { padding-top: 20px; }

#gnb .gnb-dep2 li > a { display: block; padding: 6px; font-size: 0.9375rem; transition: all .15s ease-in; }

#gnb .gnb-dep2 li > a span { display: inline-block; position: relative; }

#gnb .gnb-dep2 li > a span::before { content: ''; display: block; width: 0; height: 1px; background: #004acd; position: absolute; bottom: -1px; left: 0; z-index: 1; transition: all .15s ease-in-out; }

#gnb .gnb-dep2 li > a:hover { color: #004acd; }

#gnb .gnb-dep2 li > a:hover span::before { width: 100%; }

#gnb .gnb-dep2 li.active > a { color: #004acd; font-weight: 500; }

#gnb .gnb-dep2 li.active > a span::before { width: 100%; }

html.open-gnb-dep2:not(.is-mobile) #gnb .gnb-dim { height: 450px; }

html.open-gnb-dep2:not(.is-mobile) #gnb .gnb-dep2 { height: 450px; opacity: 1; }

@media (max-width: 991.98px) { #gnb { width: 100vw; height: 100vh; border-bottom: 0; position: absolute; right: -100vw; top: 0; transition: right .3s ease-in-out .03s; }
  #gnb .container { max-width: none; margin: 0; width: 100%; height: 100%; position: absolute; top: 0; z-index: 2; background: #fff; overflow: auto; }
  #gnb .gnb-dep1 { display: block; border: 0; }
  #gnb .gnb-dep1 > li { width: 100%; }
  #gnb .gnb-dep1 > li > a { text-align: left; line-height: 1.5; font-size: 18px; padding-top: 15px; padding-bottom: 15px; }
  #gnb .gnb-dep1 > li > a span { position: relative; padding-bottom: 10px; }
  #gnb .gnb-dep1 > li > a span::before { content: ''; width: 36px; height: 3px; position: absolute; bottom: 0; left: 0; }
  #gnb .gnb-dep1 > li.hover > a { color: #666; }
  #gnb .gnb-dep1 > li.active .gnb-dep2 { height: auto; background: #fafafa; }
  #gnb .gnb-dep1 > li.has-dep2 > a::before { background: url("../images/icon-arrow-down-black.svg") no-repeat 0 0; width: 12px; height: 7px; position: absolute; left: auto; right: 20px; top: 50%; margin-top: -3.5px; transition: transform .2s .1s; }
  #gnb .gnb-dep1 > li:not(.has-dep2) > a::before { display: none; }
  #gnb .gnb-dep1 > li.open .gnb-dep2 { border-bottom: 1px solid #eee; }
  #gnb .gnb-dep1 > li.open > a::before { transform: rotate(180deg); }
  #gnb .gnb-dep2 { position: static; text-align: left; display: none; border: 0 !important; opacity: 1; height: auto; transition: none; }
  #gnb .gnb-dep2 ul { padding: 10px 0; }
  #gnb .gnb-dep2 li { display: block; }
  #gnb .gnb-dep2 li > a { font-size: 15px; padding: 5px 20px; }
  html.open-mobile-gnb body { overflow: hidden; }
  html.open-mobile-gnb #gnb { right: 0; } }

.btn-hamburger { display: block; width: 40px; height: 40px; position: absolute; right: 9px; top: 50%; transform: translateY(-50%); transition: all .3s; }

.btn-hamburger i { position: absolute; top: 50%; left: 50%; display: block; width: 25px; height: 3px; background-color: #000; transition: all ease-in-out .15s .02s; margin-top: -1.5px; }

.btn-hamburger .hamburger-middle { transform: translateX(-50%); }

.btn-hamburger .hamburger-top { transform-origin: 0% 50%; transform: translateX(-50%) translateY(-7px); }

.btn-hamburger .hamburger-bottom { transform-origin: 0% 50%; transform: translateX(-50%) translateY(7px); }

@media (min-width: 768px) { .btn-hamburger:hover .hamburger-top { transform: translateX(-50%) translateY(-9px); }
  .btn-hamburger:hover .hamburger-bottom { transform: translateX(-50%) translateY(9px); } }

@media (max-width: 991.98px) { .btn-hamburger { position: fixed; top: 1rem; transform: none; width: 28px; height: 28px; right: 18px; }
  html.open-mobile-gnb .btn-hamburger { transform: none !important; }
  html.open-mobile-gnb .btn-hamburger i { background: #000 !important; }
  html.open-mobile-gnb .btn-hamburger .hamburger-top { transform: rotate(-45deg) translate(-13px, 0); }
  html.open-mobile-gnb .btn-hamburger .hamburger-middle { opacity: 0; }
  html.open-mobile-gnb .btn-hamburger .hamburger-bottom { transform: rotate(45deg) translate(-12px, 0); } }

#sitemap { position: absolute; top: 90px; width: 100%; display: none; }

#sitemap a:hover { text-decoration: none; }

#sitemap .gnb-dim { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); z-index: 998; overflow: hidden; }

#sitemap .container { position: relative; background: #fff; z-index: 999; }

#sitemap .btn-hamburger { display: none; }

#sitemap .gnb-dep1 { display: flex; }

#sitemap .gnb-dep1 > li { width: 25%; padding: 20px 30px; border-right: 1px solid #ddd; }

#sitemap .gnb-dep1 > li:last-child { border-right: 0; }

#sitemap .gnb-dep1 > li > a { display: block; font-size: 22px; font-weight: 700; padding: 0 0 15px 0; position: relative; }

#sitemap .gnb-dep1 > li > a::before { content: ''; width: 20px; height: 2px; background: #004acd; position: absolute; left: 0; bottom: 0; }

#sitemap .gnb-dep2 { margin-top: 20px; }

#sitemap .gnb-dep2 li { padding: 5px 0; }

#sitemap .gnb-dep2 li > a { font-size: 17px; color: #666; font-weight: 500; transition: color .15s; }

#sitemap .gnb-dep2 li > a:hover { color: #000; }

html.open-sitemap #gnb .btn-hamburger { z-index: 1000; transform: translate(50px, -50%); }

html.open-sitemap #gnb .btn-hamburger i { background: #fff; }

html.open-sitemap #gnb .btn-hamburger .hamburger-top { transform: rotate(-45deg) translate(-13px, 0); }

html.open-sitemap #gnb .btn-hamburger .hamburger-middle { opacity: 0; }

html.open-sitemap #gnb .btn-hamburger .hamburger-bottom { transform: rotate(45deg) translate(-12px, 0); }

html.open-sitemap #sitemap { display: block; }

html.open-sitemap #sitemap .btn-hamburger { display: none; }

@media (max-width: 991.98px) { #sitemap { display: none !important; } }

#container-block { padding-bottom: 180px; }

#container > .container { display: flex; }

@media (max-width: 991.98px) { #container-block { padding-bottom: 180px; } }

#side { width: 240px; flex: 0 0 auto; margin-right: 30px; }

#lnb { border: 1px solid #e5e5e5; border-top: 0; }

#lnb .lnb-title { font-size: 24px; font-weight: 500; color: #004acd; padding: 30px 0; text-align: center; }

#lnb > ul > li { border-top: 1px solid #e5e5e5; }

#lnb > ul > li > a { display: flex; align-items: center; padding: 1rem 1.5rem; transition: all .2s; position: relative; }

#lnb > ul > li > a:hover { text-decoration: none; }

#lnb > ul > li > ul { padding: .5rem 0; display: none; }

#lnb > ul > li > ul a { display: block; padding: .25rem 0 .25rem 1.5rem; text-decoration: none; font-size: 14px; }

#lnb > ul > li > ul li.active a { color: #004acd; }

#lnb > ul > li.has-dep2 > a { padding-right: 2.5rem; }

#lnb > ul > li.has-dep2 > a::before { content: ''; background: url("../images/icon-arrow-right.svg") no-repeat center; width: 9px; height: 11px; position: absolute; right: 1.5rem; top: 50%; margin-top: -5.5px; z-index: 1; transition: transform .1s; }

#lnb > ul > li.open > ul { display: block; }

#lnb > ul > li.open > a::before { transform: rotate(90deg); }

#lnb > ul > li.active > a { color: #004acd; background-color: #f8f8f8; font-weight: 500; letter-spacing: -0.06em; }

#lnb > ul > li.active > ul { background-color: #f8f8f8; }

#lnb > ul.spacing > li > a { padding-top: 1rem; padding-bottom: 1rem; }

@media (max-width: 991.98px) { #side { display: none; } }

#content { padding: 50px 0 100px 0; flex: 0 1 100%; max-width: 100%; }

@media (max-width: 991.98px) { #content { padding: 15px 0 50px 0; } }

#footer { position: absolute; bottom: 0; width: 100%; height: 180px; }

#footer .footer-top { background: #f8f8f8; }

#footer .footer-top .f-menu { display: flex; align-items: center; height: 50px; }

#footer .footer-top .f-menu li::after { content: ''; display: inline-block; width: 1px; height: 10px; background: #aaa; margin: 0 20px; }

#footer .footer-top .f-menu li strong { color: #004acd; font-weight: 500; }

#footer .footer-top .f-menu li:last-child::after { display: none; }

#footer .footer-bottom { padding: 25px 0; font-size: 14px; text-align: center; }

#footer .footer-bottom .company { line-height: 1.6; word-break: keep-all; }

#footer .footer-bottom .copyright { margin-top: 15px; }

@media (max-width: 991.98px) { #footer .footer-top .f-menu { height: 45px; }
  #footer .footer-top .f-menu li a { font-size: 12px; }
  #footer .footer-top .f-menu li::after { margin: 0 8px; }
  #footer .footer-bottom { padding: 20px 0; font-size: 12px; } }

.table { font-size: 15px; }

.table thead th { background: #f7f7f7; }

.table tbody th { background: #f7f7f7; }

.table tr.noti > td:nth-of-type(1) { font-weight: 700; color: #cc2b2b; }

.table tr.noti > td:nth-of-type(2) a { font-weight: 700; color: #333; }

.table .bg-sky { background: #eff4f9; }

.table .bg-light-gray { background: #fbfbfc; }

.data-empty { font-size: 18px; color: #666; text-align: center; padding: 170px 10px; }

@media (max-width: 991.98px) { .table { font-size: 13px; }
  .table tr.noti > td:nth-of-type(1) { display: block !important; }
  .table th, .table td { padding-left: .5rem; padding-right: .5rem; }
  .data-empty { font-size: 15px; padding: 95px 10px; } }

.profile-photo { width: 160px; height: 160px; border: 1px solid #ddd; margin: 0 auto 10px; display: flex; align-items: center; justify-content: center; background: url("../images/profile.jpg") no-repeat 50% 50%; }

.profile-photo img { max-width: 100%; max-height: 100%; }

@media (max-width: 991.98px) { .profile-photo { width: 100px; height: 90px; background-size: contain; } }

.btn-lg { font-size: 16px; height: 50px; padding: 12px 30px; font-weight: 500; }

.btn-lg.min-width { min-width: 140px; }

.btn-xl { font-size: 20px; height: 60px; padding: 14px 60px; font-weight: 500; }

.board-detail { border-top: 2px solid #333333; border-bottom: 1px solid #333333; margin-bottom: 50px; }

.board-detail .board-header { border-bottom: 1px solid #ccc; padding: 35px 20px; }

.board-detail .board-header .subject { font-size: 22px; font-weight: 700; letter-spacing: -0.025em; color: #333; }

.board-detail .board-header .date { color: #999; display: flex; align-items: center; margin-top: 10px; }

.board-detail .board-header .date span { position: relative; }

.board-detail .board-header .date span + span::before { content: ''; display: inline-block; vertical-align: middle; width: 2px; height: 15px; background: #cfcfcf; margin: 0 10px; transform: translateY(-1px); }

.board-detail .board-body { padding: 40px 20px; min-height: 300px; }

.board-detail .board-file { background: #f9f9f9; padding: 37px 50px; display: flex; }

.board-detail .board-file p { font-weight: 700; color: #333; display: inline-block; vertical-align: middle; margin-right: 42px; flex: 0 0 auto; }

.board-detail .board-file a { vertical-align: middle; margin-right: 20px; flex-basis: 0; flex-grow: 1; }

@media (max-width: 991.98px) { .board-detail { margin-bottom: 30px; }
  .board-detail .board-header { padding: 25px 0; }
  .board-detail .board-header .subject { font-size: 16px; margin-bottom: 5px; }
  .board-detail .board-header .date span + span::before { width: 1px; }
  .board-detail .board-body { padding: 25px 0; min-height: 150px; }
  .board-detail .board-file { padding: 25px 20px; }
  .board-detail .board-file p { margin-right: 25px; }
  .board-detail .board-file a { margin-right: 15px; } }

.terms { border-top: 3px solid #333333; padding: 50px; line-height: 1.6; }

@media (max-width: 991.98px) { .terms { padding: 25px 0; } }

.search-form .btn-search { background: #333333; border-radius: 50%; width: 50px; height: 50px; position: relative; display: block; }

.search-form .btn-search i { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 32px; height: 32px; }

@media (max-width: 991.98px) { .search-form .col-12 { margin-bottom: 10px; }
  .search-form .btn-search { width: 40px; height: 40px; }
  .search-form .btn-search i { width: 24px; height: 24px; } }

.table-top { margin-bottom: 20px; }

.table-top .count { color: #999999; }

.table-top .count span { color: #333333; }

@media (max-width: 991.98px) { .table-top { margin-bottom: 10px; }
  .table-top .count { margin-bottom: 5px; } }

.login { position: relative; }

.login .form-group { align-items: center; }

.login .form-group label { margin-top: 0; flex: 0 0 140px; }

@media (max-width: 991.98px) { .login { padding-left: 0; }
  .login::before { display: none; } }

.lecturer-list { margin: -15px; }

.lecturer-list li { padding-top: 15px; padding-bottom: 15px; }

.lecturer-list .card { display: block; text-decoration: none; border-radius: 0; transition: all .3s ease-in-out; height: 100%; }

.lecturer-list .card:focus, .lecturer-list .card:hover { box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1); }

.lecturer-list .card-title { font-size: 26px; font-weight: 500; }

.lecturer-list .card-title i { font-weight: 400; color: #8d8d8d; font-size: 14px; }

.lecturer-list .card-text { word-break: keep-all; }

@media (max-width: 991.98px) { .lecturer-list { margin: -5px; }
  .lecturer-list li { padding: 5px; }
  .lecturer-list .card-body { padding: 1rem; }
  .lecturer-list .card-title { font-size: 18px; } }

.video { width: 100%; padding-bottom: 56.26%; height: 0; position: relative; }

.video iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.lecturer-history { background: #f7f7f7; padding: 20px; }

.lecturer-history li { margin: 5px 0; }

@media (max-width: 991.98px) { .lecturer-history { padding: 1rem; } }

.lecture-list .card { height: 100%; }

.lecture-list .card:hover { transition: all .3s ease-in-out; box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1); }

.lecture-list .card-title { letter-spacing: -0.05em; }

.lecture-list .card-title span { font-weight: 500; }

.lecture-list .card-title strong { font-size: 23px; font-weight: 500; }

.lecture-list .card-text { font-size: 14px; }

@media (max-width: 991.98px) { .lecture-list { margin: -5px; }
  .lecture-list li { padding: 5px; }
  .lecture-list .card-body { padding: 1rem; }
  .lecture-list .card-title strong { font-size: 18px; }
  .lecture-list .card-text { font-size: 13px; word-break: keep-all; }
  .lecture-list .card-text br { display: none; } }

.class-type-title { color: #111; font-size: 26px; font-weight: 500; text-align: center; margin-bottom: 40px; }

.class-type { margin-bottom: 50px; border-radius: 10px; overflow: hidden; border: 1px solid #d4d4d4; }

.class-type .btn { padding: 6px; min-width: 116px; margin: 5px 10px; height: 38px; border-radius: 5px; }

.class-type .btn-primary { background: #097ee5; border-color: #097ee5; }

.class-type .btn-danger { background: #c10808; border-color: #c10808; }

.class-type .btn.disabled { background: #d9d9d9; border-color: #c8c8c8; color: #b5b5b5; }

.class-type table { background: #f3f3f3; margin: 0; border: 0; }

.class-type table thead th { color: #fff; font-size: 20px; font-weight: 500; padding: 1.5rem 0; border: 0; border-left: 1px solid rgba(238, 241, 255, 0.29); }

.class-type table tbody th { font-size: 30px; font-weight: 700; background-color: rgba(203, 203, 203, 0.8); }

.class-type table tbody td { font-size: 20px; font-weight: 500; padding: 1.5rem; border: 0; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

.class-type table.class-type-1 thead th { background: #002d87; }

.class-type table.class-type-2 thead th { background: #bb7000; }

@media (max-width: 1229.98px) { .class-type .btn { min-width: 115px; margin: 4px; } }

@media (max-width: 991.98px) { .class-type-title { font-size: 16px; }
  .class-type table, .class-type tbody, .class-type tr, .class-type th, .class-type td { display: block; }
  .class-type thead { display: none; }
  .class-type table tbody th { font-size: 18px; }
  .class-type table tbody td { font-size: 14px; padding: .5rem; }
  .class-type table.class-type-1 tbody th { background: #002d87; color: #fff; }
  .class-type table.class-type-2 tbody th { background: #bb7000; color: #fff; }
  .class-type .btn { min-width: 52px; margin: 2px; font-size: 13px; line-height: 32px; height: auto; padding: 0 5px; } }

.class-select { background: #f7f7f7; border: 1px solid #004acd; }

.class-select-top { background: #004acd; padding: 12px 30px; }

.class-select-top h3 { color: #fff; font-size: 24px; }

.class-select-body { padding: 2rem; }

.class-select-body .row { padding: .5rem 0; }

.class-select-body .row + .row { border-top: 1px solid #e8e8e8; }

.class-select-body .label { font-size: 18px; padding: 0 9px; min-width: 120px; margin: 5px 0; text-align: center; font-weight: 700; line-height: 40px; }

.class-select-body .btn-wrapper { display: flex; flex-wrap: wrap; }

.class-select-body .btn-wrapper .btn { padding: 8px; min-width: 120px; margin: 5px 10px; height: 40px; }

.class-select-body .btn-wrapper .btn.disabled { opacity: .4; color: #ddd; }

@media (max-width: 1229.98px) { .class-select-body { padding: 30px; }
  .class-select-body .label { min-width: 140px; margin: 4px 0; }
  .class-select-body .btn-wrapper .btn { min-width: 115px; margin: 4px; } }

@media (max-width: 991.98px) { .class-select-top { padding: .75rem 1rem; }
  .class-select-top h3 { font-size: 16px; }
  .class-select-body { padding: 1rem; }
  .class-select-body > .row { margin: 0 -5px; }
  .class-select-body > .row > [class^=col] { padding: 0 5px; }
  .class-select-body .label { min-width: 70px; margin: 2px 0; font-size: 13px; line-height: 38px; height: auto; }
  .class-select-body .btn-wrapper .btn { min-width: 52px; margin: 2px; font-size: 13px; line-height: 38px; height: auto; padding: 0 5px; } }

.lecturer-thumbnail { display: flex; margin: 0 -10px; }

.lecturer-thumbnail li { padding: 0 10px; }

.lecturer-thumbnail .frame { border: 1px solid #ddd; height: 100%; position: relative; }

.lecturer-thumbnail .frame img { vertical-align: bottom; }

.lecturer-thumbnail .frame .name { display: block; position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(0, 0, 0, 0.7); color: #fff; font-weight: 500; text-align: center; padding: .75rem 1rem; }

.classroom-list li + li { margin-top: 10px; }

.classroom-list .class-title { border: 1px solid #dedede; height: 100%; background: #fff; padding: 0 1rem; display: flex; align-items: center; min-height: 50px; }

@media (max-width: 991.98px) { .classroom-list li + li { margin-top: 5px; }
  .classroom-list > .row-10 { margin-left: -2.5px; margin-right: -2.5px; }
  .classroom-list > .row-10 > [class^=col] { padding-left: 2.5px; padding-right: 2.5px; }
  .classroom-list .class-title { padding: 5px 10px; min-height: 36px; }
  .classroom-list .btn-lg { height: 36px; min-width: 60px; font-size: 13px; padding: 8px .5rem; } }

body.body-platform { color: #fff; padding: 0; background: #191919; background: -moz-linear-gradient(180deg, #191919 0%, #464646 34%, #232323 85%, #3a3a3a 100%); background: -webkit-linear-gradient(180deg, #191919 0%, #464646 34%, #232323 85%, #3a3a3a 100%); background: linear-gradient(180deg, #191919 0%, #464646 34%, #232323 85%, #3a3a3a 100%); }

body.body-platform::-webkit-scrollbar { width: .5rem; }

body.body-platform::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body.body-platform::-webkit-scrollbar-thumb { background-color: darkgrey; outline: 1px solid slategrey; }

.platform { border: 5px solid #000; background: #191919; background: -moz-linear-gradient(180deg, #191919 0%, #464646 34%, #232323 85%, #3a3a3a 100%); background: -webkit-linear-gradient(180deg, #191919 0%, #464646 34%, #232323 85%, #3a3a3a 100%); background: linear-gradient(180deg, #191919 0%, #464646 34%, #232323 85%, #3a3a3a 100%); }

.platform .inner { border: solid 1px #5a5a5a; border-radius: 5px; padding: 15px 15px 0; overflow: hidden; }

.platform .nav-tabs { margin-bottom: 12px; height: 60px; border-bottom: 0; }

.platform .nav-tabs .nav-item { margin-right: 1rem; }

.platform .nav-tabs .nav-link { color: #fff; font-weight: 700; padding: 0; border-radius: 50px; overflow: hidden; border: 1px solid #000; font-size: 22px; background-image: linear-gradient(to bottom, #121212, #434343); }

.platform .nav-tabs .nav-link span { display: block; border: 1px solid #505050; padding: .75rem 2rem; border-radius: 50px; }

.platform .nav-tabs .nav-link.active { background-image: linear-gradient(to bottom, #ff300f, #a81700); }

.platform .tab-content { border: 1px solid #000; border-radius: 2px; background-image: linear-gradient(to bottom, #202020, #505050); }

.platform .tab-pane { border: 1px solid #434343; border-radius: 2px; padding: 14px; }

.platform-top { border-radius: 2px; border: solid 1px #000000; background-image: linear-gradient(to bottom, #3d3d3d, #111111); }

.platform-top .title-area { border: 1px solid #515151; border-radius: 1px; padding: 20px 25px; position: relative; }

.platform-top h1 { font-size: 24px; font-weight: 700; }

.platform-body { position: relative; }

.platform-body .left-panel { padding: 15px 0; position: relative; }

.platform-body .right-panel { padding: 15px 0; }

.platform-body .right-panel .btns { margin-bottom: 12px; background-image: linear-gradient(to bottom, #121212, #292929); border: 1px solid #000; border-radius: 2px; }

.platform-body .right-panel .btns .btn { background-color: transparent; border-color: transparent; font-size: 22px; font-weight: 500; }

.platform-body .right-panel .btns .col:nth-child(1) { border-right: 1px solid #000; }

.platform-body .right-panel .btns .col:nth-child(2) { border-left: 1px solid #373737; }

.platform-body .right-panel .btns .btn-lg { height: 58px; padding: 13px 10px; }

.platform-body > .row > .col-lg-8 { position: relative; }

.platform-body > .row > .col-lg-8::after { content: ''; width: 11px; height: 100%; position: absolute; right: -5.5px; top: 0; border: 1px solid #000; border-top: 0; border-bottom: 0; background: #121212; background: -moz-linear-gradient(90deg, #121212 0%, #5a5a5a 100%); background: -webkit-linear-gradient(90deg, #121212 0%, #5a5a5a 100%); background: linear-gradient(90deg, #121212 0%, #5a5a5a 100%); }

@media (max-width: 991.98px) { .platform-top .title-area { padding: 15px; }
  .platform-top h1 { font-size: 16px; }
  .platform-body { padding: 0; } }

.chatting { height: calc(100vh - 205px); background: #262626; border: 1px solid #000; padding-bottom: 70px; position: relative; border-radius: 2px; }

.chatting .chatting-list { height: 100%; overflow-x: hidden; padding: 1rem; border: 1px solid #434343; border-radius: 2px 2px 0 0; }

.chatting .chatting-list::-webkit-scrollbar { width: .5rem; }

.chatting .chatting-list::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.chatting .chatting-list::-webkit-scrollbar-thumb { background-color: darkgrey; outline: 1px solid slategrey; }

.chatting .item { font-size: 13px; font-weight: 500; }

.chatting .item .author { color: #aaa; font-weight: 700; margin-right: 7px; }

.chatting .item .author::after { content: ':'; }

.chatting .item + .item { margin-top: 10px; }

.chatting .item.admin .message { color: #e8aa01; }

.chatting .input-panel { position: absolute; left: 0; bottom: 0; right: 0; height: 70px; padding: 1rem; background-image: linear-gradient(to bottom, #121212, #343434); border: 1px solid #434343; border-top: 0; }

.chatting .input-panel .input-area { position: relative; }

.chatting .input-panel .form-control { background: transparent; border: 0; color: #fff; padding: 0; font-size: 14px; padding: 10px 0; height: auto; }

.chatting .input-panel .form-control::placeholder { color: #bbb; opacity: 1; }

.chatting .input-panel .form-control:focus { border-color: #fff; }

.chatting .input-panel .btn { border-radius: 50rem; padding-left: 1rem; padding-right: 1rem; font-size: 13px; font-weight: 700; position: absolute; right: 0; top: 50%; transform: translateY(-50%); }

.students-list { border: 1px solid #000; border-radius: 1px; }

.students-list ul { display: flex; flex-wrap: wrap; border: 1px solid #686868; border-radius: 1px; padding: 20px; background: #444; }

.students-list li { width: 33.33333%; padding: 3px; }

.students-list li .item { display: flex; }

.students-list li span { font-size: 13px; }

.students-list li span i { display: inline-block; vertical-align: middle; width: 14px; height: 14px; border-radius: 50%; background-color: #888; font-size: 0; line-height: 1; transform: translateY(-1px); }

.students-list li span i.attend { background: #93d62d; }

.students-list li span i.absent { background: #ef2936; }

.students-list li span i.late { background: #ffff23; }

.students-list li span.text-danger { color: #fa6363 !important; }

.students-list li span + span::before { content: ''; display: inline-block; width: 1px; height: 8px; background-color: #aaa; margin: 0 8px; }

.students-list li span:nth-child(2) { margin-left: 8px; }

.students-list li span:nth-child(2)::before { display: none; }

@media (max-width: 991.98px) { .students-list ul { padding: 8px; height: 35vh; overflow-x: hidden; }
  .students-list li { width: 50%; margin-top: 3px; padding: 0 3px; }
  .students-list li span { font-size: 11px; letter-spacing: -0.06em; }
  .students-list li span i { width: 8px; height: 8px; }
  .students-list li span + span::before { margin: 0 3px; background: none; } }

.time { display: flex; align-items: center; position: absolute; right: 0; top: 31px; z-index: 1; font-size: 18px; }

.time i { vertical-align: middle; margin-right: 10px; transform: translateY(-2px); }

.time b { font-weight: 700; }

.time span { margin-right: 24px; margin-left: 3px; }

.time strong { font-size: 21px; color: #fc2f0e; margin-left: 3px; }

@media (max-width: 991.98px) { .time { position: static; justify-content: flex-end; font-size: 13px; }
  .time strong { letter-spacing: 0; font-size: 15px; }
  .time + .nav-tabs { margin-top: .75rem; } }

body.body-quiz { padding-top: 0; overflow: hidden; }

.quiz { position: relative; height: 100%; display: flex; }

.quiz h1 { background: #f85858; color: #fff; font-size: 26px; font-weight: 500; padding: 5px 2rem; display: inline-block; position: absolute; left: 50%; top: 0; transform: translateX(-50%); }

.quiz-img { height: 100%; overflow-x: hidden; text-align: center; position: relative; padding-top: 3rem; flex: 1; }

.quiz-img img { max-width: 100%; }

.quiz-timer { font-weight: 700; color: #000; font-size: 22px; position: fixed; right: 1rem; top: 1.25rem; }

.quiz-timer i { font-size: 21px; color: #333; }

.quiz-omr { width: 400px; height: 100vh; padding: 3.5rem 1rem 5.5rem; background: #fcfded; border-left: 1px solid #e4e0b1; position: relative; }

.quiz-omr .btn-lg.min-width { width: 160px; }

.omr-card { font-size: 14px; height: calc(100vh - 9rem); }

.omr-card ol { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; border: 2px solid #e97e9c; border-radius: 8px; overflow-x: hidden; width: 100%; max-height: 100%; }

.omr-card li { width: 50%; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; border-top: 1px dashed #fdb5ca; margin-top: -1px; }

.omr-card li > span { font-weight: 700; text-align: center; -ms-flex: 0 0 40px; flex: 0 0 40px; background: #f8f0d9; padding: .5rem 0; color: #e06387; border-left: 1px solid #e97e9c; border-right: 1px solid #e97e9c; height: 100%; }

.omr-card li > div { padding: 0 1rem; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; -ms-flex: 1; flex: 1; }

.omr-card li label { cursor: pointer; margin: 0; }

.omr-card li label span { display: inline-block; vertical-align: middle; width: 17px; height: 17px; line-height: 15px; text-align: center; border-radius: 50%; border: 1px solid #e97e9c; color: #e6688c; font-size: 12px; }

.omr-card li label input { position: absolute; opacity: 0; visibility: hidden; height: 0; width: 0; }

.omr-card li label input:checked + span { border-color: #333333; background-color: #333333; color: #fff; font-weight: 500; }

.omr-card li.striped { background: #fcf1de; }

.omr-card li:nth-child(2n-1) > span { border-left: 0; }

@media (max-width: 991.98px) { body.body-quiz { border: 3px solid #004acd; height: 100%; }
  .quiz { height: 100%; }
  .quiz h1 { font-size: 15px; padding: 4px 2rem; }
  .quiz-img { height: 54%; overflow-x: hidden; text-align: center; }
  .quiz-img img { max-width: 100%; }
  .quiz-omr { max-height: 45%; overflow-x: hidden; }
  .quiz-omr .btn { font-size: 14px; height: auto; padding: 8px .75rem; }
  .omr-card { font-size: 12px; }
  .omr-card ol { padding: 10px 3px; }
  .omr-card li label { margin: 0 3px; }
  .omr-card li label span { width: 15px; height: 15px; line-height: 13px; font-size: 11px; } }

.view-type { display: flex; align-items: center; }

.view-type > a { margin-right: 5px; width: 30px; height: 30px; display: block; border: 1px solid #ddd; color: #aaa; display: flex; align-items: center; justify-content: center; text-decoration: none; transition: all .15s; }

.view-type > a:hover, .view-type > a.active { color: #555; background: #f3f3f3; }

.view-type-card table, .view-type-card thead, .view-type-card tbody, .view-type-card tr, .view-type-card th, .view-type-card td { display: block; }

.view-type-card colgroup { display: none; }

.view-type-card thead { display: none; }

.view-type-card .thumb { display: block !important; width: 200px; height: 200px; position: absolute; left: 0; top: 0; }

.view-type-card .table tbody tr { position: relative; min-height: 200px; padding: 1rem 1rem 1rem calc(200px + 1rem); border-bottom: 1px solid #e2e2e2; }

.view-type-card .table tbody th, .view-type-card .table tbody td { border-bottom: 0; text-align: left !important; padding: 0; }

.view-type-card .table tbody td { padding: 2px 0; }

.view-type-card .table tbody td::before { content: attr(data-label) " : "; display: inline-block; margin-right: 5px; }

.view-type-card .table tbody td[data-label="번호"] { display: none; }

.view-type-card .table tbody td[data-label="제목"] { font-size: 18px; font-weight: 700; margin-bottom: 1rem; }

.view-type-card .table tbody td[data-label="제목"]::before { display: none; }

.view-type-card .table tbody td[data-label="제목"] i { display: none; }

@media (max-width: 991.98px) { .view-type-card .thumb { width: 100px; height: 100px; }
  .view-type-card .table tbody tr { min-height: 100px; padding: 0.5rem 0.75rem 0.5rem calc(100px + .75rem); }
  .view-type-card .table tbody td { padding: 0; }
  .view-type-card .table tbody td[data-label="제목"] { font-size: 13px; margin-bottom: 0.25rem; } }

.view-type-album { overflow: visible; }

.view-type-album table, .view-type-album thead, .view-type-album tbody, .view-type-album tr, .view-type-album th, .view-type-album td { display: block; }

.view-type-album colgroup { display: none; }

.view-type-album thead { display: none; }

.view-type-album .thumb { display: block !important; width: 100%; height: 0; padding-bottom: 100%; margin-bottom: .5rem; }

.view-type-album .thumb:hover .dim { display: block !important; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.5); color: #fff; line-height: 1.7; padding: 2rem; font-weight: 500; }

.view-type-album .table { border-top: 0; }

.view-type-album .table tbody { display: flex; flex-wrap: wrap; margin: -10px; }

.view-type-album .table tbody tr { padding: 10px; width: 33.3333%; }

.view-type-album .table tbody tr:hover { background-color: transparent; }

.view-type-album .table tbody th, .view-type-album .table tbody td { border-bottom: 0; }

.view-type-album .table tbody td[data-label="번호"] { display: none; }

.view-type-album .table tbody td[data-label="제목"] { padding: 0; }

.view-type-album .table tbody td[data-label="제목"] > div { font-size: 16px; font-weight: 500; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.view-type-album .table tbody td[data-label="제목"]::before { display: none; }

.view-type-album .table tbody td[data-label="제목"] i { display: none; }

.view-type-album .table tbody td[data-label="작성자"], .view-type-album .table tbody td[data-label="등록일"], .view-type-album .table tbody td[data-label="조회수"] { display: none; }

@media (max-width: 991.98px) { .view-type-album .table tbody { margin: -5px; }
  .view-type-album .table tbody tr { padding: 5px; }
  .view-type-album .table tbody td[data-label="제목"] > div { font-size: 13px; } }

.board-detail { border-top: 2px solid #333333; border-bottom: 1px solid #333333; margin-bottom: 1rem; }

.board-detail .board-header { border-bottom: 1px solid #ccc; padding: 2rem 1rem; }

.board-detail .board-header .subject { font-size: 22px; font-weight: 700; letter-spacing: -0.025em; color: #333; }

.board-detail .board-header .date { color: #999; display: flex; align-items: center; margin-top: 10px; }

.board-detail .board-header .date span { position: relative; }

.board-detail .board-header .date span + span::before { content: ''; display: inline-block; vertical-align: middle; width: 2px; height: 15px; background: #cfcfcf; margin: 0 10px; transform: translateY(-1px); }

.board-detail .board-body { padding: 40px 20px; min-height: 300px; }

.board-detail .board-file { background: #f9f9f9; padding: 37px 50px; display: flex; }

.board-detail .board-file p { font-weight: 700; color: #333; display: inline-block; vertical-align: middle; margin-right: 42px; flex: 0 0 auto; }

.board-detail .board-file a { vertical-align: middle; margin-right: 20px; flex-basis: 0; flex-grow: 1; }

.prev-next { display: flex; align-items: center; }

.prev-next a + a::before { content: ''; width: 1px; height: 12px; background: #aaa; display: inline-block; vertical-align: middle; margin: 0 12px; }

@media (max-width: 991.98px) { .board-detail .board-header { padding: 1rem 0; }
  .board-detail .board-header .subject { font-size: 16px; margin-bottom: 5px; }
  .board-detail .board-header .date span + span::before { width: 1px; }
  .board-detail .board-body { padding: 25px 0; min-height: 150px; }
  .board-detail .board-file { padding: 25px 20px; }
  .board-detail .board-file p { margin-right: 25px; }
  .board-detail .board-file a { margin-right: 15px; } }

.reply { background: #fafafa; padding: 2rem; margin-top: 3rem; }

.reply-form .form-control { resize: none; }

.reply-list { border-top: 1px solid #333; margin-top: 1rem; }

.reply-list > ul > li { position: relative; padding: 1.25rem 1rem; border-bottom: 1px solid #e5e5e5; }

.reply-list > ul > li.re-reply { padding-left: 40px; position: relative; margin-left: 20px; }

.reply-list .reply-item .user-info > span { vertical-align: middle; }

.reply-list .reply-item .user-info .nickname { font-weight: 500; margin-right: 20px; }

.reply-list .reply-item .user-info .date { color: #999; }

.reply-list .reply-item .reply-cont { font-size: 15px; word-break: break-all; margin-top: .75rem; }

.reply-list .reply-list { border-top: 0; margin: 1rem -1rem -1rem; }

.reply-list .reply-list > ul > li { padding-left: 3rem; border: 0; border-top: 1px solid #e5e5e5; position: relative; }

.reply-list .reply-list > ul > li::before { content: '\f064'; font-size: 18px; font-family: "Font Awesome 5 Free"; font-weight: 900; position: absolute; top: 1rem; left: 1rem; color: #888; transform: scale(1, -1); }

@media (max-width: 991.98px) { .reply { padding: 1rem; margin-top: 1.5rem; }
  .reply-list { border-top: 1px solid #333; margin-top: 1rem; } }

.popover-icon { display: inline-block; position: relative; }

.popover-icon i { cursor: pointer; }

.popover-icon .pop-download { background: #fff; border: 1px solid #ddd; padding: .75rem; max-width: 320px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); position: absolute; left: -30px; z-index: 1; display: none; margin-top: 22px; }

.popover-icon .pop-download > div { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin: 1px 0; }

.popover-icon.active .pop-download { display: inline-block; }

@media (max-width: 991.98px) { .popover-icon .pop-download { max-width: none; left: 2rem; right: 2rem; position: fixed; } }

.util { position: absolute; right: 25px; top: 50%; transform: translateY(-50%); }

.util .btn { color: #fff; margin-left: 5px; text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); }

.util .btn.active { background: #cc2b2b !important; border-color: #cc2b2b !important; }
/*# sourceMappingURL=style.css.map */